<section class="home">
  <div class="title">
    <img class="logo" src="icons/logo_AngularPeru.svg" alt="Angular Perú logo">
    <h1>Angular Perú</h1>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <div class="content center">
      <article>
        <h2>Acerca de Nosotros</h2>
        <p>Angular Community Perú es la Comunidad de desarrolladores que reúne a entusiastas de la tecnología y eventos
          tech, en los cuales buscamos compartir conocimiento y crecer juntos como Comunidad, dentro de un espacio
          seguro.</p>
      </article>
    </div>
  </div>
</section>

<section class="what-we-do">
  <div class="container">
    <div class="content center">
      <article>
        <h2>¿Qué hacemos?</h2>
        <p>Estamos localizados en Lima, pero buscamos llegar a todo el país por lo que realizamos eventos online como
          Tech Talks,
          Meets, Streamings para comentar y compartir updates de las tecnologías que más nos gustan, como Angular.</p>

        <p>Sin embargo, nuestro contenido va orientado a la Programación y Desarrollo Web en general. 🚀✨</p>
      </article>
    </div>
  </div>
</section>

<app-team [members]="members"></app-team>