<section class="team">
  <div class="container">
    <div class="content center">
      <article>
        <h2>Organizers</h2>
        <div class="members">
          <div class="member" *ngFor="let member of members">
            <div class="info">
              <img [src]="member.imgSrc" [alt]="member.name">
              <span class="name">{{ member.name }}</span>
              <span class="role">{{ member.role }}</span>
            </div>
            <div class="social-media">
              <a [href]="member.linkedinUrl" target="_blank">
                <img src="../icons/ico_linkedin.svg" alt="LinkedIn Icon">
              </a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>