<section class="team">
  <div class="container">
    <div class="content center">
      <article>
        <h2>Organizers</h2>
        <div class="members">
          <div class="member" *ngFor="let member of members">
            <article class="article">
              <img class="picture" [src]="member.imgSrc" [alt]="member.name">
              <a class="icon" [href]="member.linkedinUrl" target="_blank">
                <img src="../icons/ico_linkedin.svg" alt="LinkedIn Icon">
              </a>
            </article>
            <span class="name">{{ member.name }}</span>
            <span class="role">{{ member.role }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>