.team {
  display: flex;
  justify-content: center;
  text-align: center;
  .members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .member {
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }

        .name {
          margin: 0.8rem 0 0.3rem;
        }

        .role {
          margin: 0.4rem 0;
          width: 80%;
        }
      }

      .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 24px;
          margin: 0 0.2rem;
        }
      }
    }
  }
}
