.footer {
  background-color: #000000;
	padding: 2rem; 
	@media screen and (max-width: 768px)  {
		padding: 2rem 15px;
	}

	.socialMedia {
		padding: 2rem 0 3rem 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		border-bottom: 1px solid #ffffff;
		width: 100%;

		&Item {
			height: 23px;
			margin: 0 1.3rem 0 0;
			display: flex;
			align-items: center;
		}

		.label {
			margin: 0 20px 0 0;
			font-size: 16px;

			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}

	.logoPrimary {
		margin-right: 40px;
	}

	.boxLink {
		padding: 40px 0;
		display: flex;
		align-items: center;

		@media screen and (max-width: 992px) {
			padding:2rem 0 48px;
		}
		@media screen and (max-width: 768px) {
			padding: 0 0 40px;;
			flex-direction: column;
			align-items: flex-start;
		}

		.logoPrimary {
			display: block;
			height: 48px;

			@media screen and (max-width: 768px) {
				display: none;
			}
		}

		&Item {
			color: #ffffff;
			text-decoration: none;
			margin: 0 28px;
			font-size: 14px;
			padding: 12px 20px;

			@media screen and (max-width: 768px) {
				border-bottom: 1px solid #ffffff;
				width: 100%;
				margin: 0;
				padding: 28px 0;
				box-sizing: border-box;
			}
		}

		.logoSecondary {
			display: none;
			margin-bottom: 32px;

			@media screen and (max-width: 768px) {
				display: block;
				margin: 2rem 0;
				height: 44px;
			}
		}
	}
}
