header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  box-shadow: 10px 10px 18px -8px #00000075;
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.559);
  position: fixed;
  z-index: 10;

  .border {
    height: 4px;
    width: 100%;
    position: relative;
    color: transparent;
    background: linear-gradient(
      to right,
      #e90464,
      #f637e3,
      #8514f5,
      #5c44e4,
      #f637e3,
      #fe2857,
      #5c44e4,
      #f637e3,
      #f11653
    );
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-size: 500%;
    animation: color 9s linear infinite;
  }

  @keyframes color {
    from {
      background-position: 0% 50%;
    }

    to {
      background-position: 100% 50%;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      list-style: none;
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        margin: 0 4rem 0 0;

        &:last-child {
          margin: 0;
        }

        a {
          text-decoration: none;
          &:active,:visited, :focus {
            font-weight: 400;
            letter-spacing: 0;
            position: relative;
            color: transparent;
            background: linear-gradient(
              to right,
              #e90464,
              #f637e3,
              #8514f5,
              #5c44e4,
              #f637e3,
              #fe2857,
              #5c44e4,
              #f637e3,
              #f11653
            );
            background-clip: text;
            -webkit-background-clip: text;
            background-size: 500%;
            animation: color 9s linear infinite;

            @keyframes color {
              from {
                background-position: 0% 50%;
              }

              to {
                background-position: 100% 50%;
              }
            }
          }
        }
      }
    }
  }
}
