@font-face {
  font-family: "GoogleSans";
  src: url("https://fonts.gstatic.com/s/googlesans/v59/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2")
    format("truetype");
}

* {
  margin: 0;
  font-family: "GoogleSans";
  color: #ffffff;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      18% 28% at 18% 71%,
      #610993ff 6%,
      #073aff00 100%
    ),
    radial-gradient(42% 53% at 15% 94%, #281058f5 7%, #073aff00 100%),
    radial-gradient(42% 53% at 34% 72%, #311779f5 7%, #073aff00 100%),
    radial-gradient(18% 28% at 35% 87%, #0b021df5 7%, #073aff00 100%),
    radial-gradient(31% 43% at 7% 98%, #37156bff 24%, #073aff00 100%),
    radial-gradient(21% 37% at 72% 23%, #610993ff 24%, #073aff00 100%),
    radial-gradient(35% 56% at 91% 74%, #240c56f5 9%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #2b0545f5 24%, #073aff00 100%),
    linear-gradient(125deg, #610993ff 1%, #4c00fcff 100%);
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;

  @media screen and (max-width: 765px) {
    font-size: 2.3rem;
    text-align: center;
  }

  @media screen and (max-width: 576px) {
    font-size: 2rem;
  }
}

h2,
h3 {
  margin: 0 0 3rem 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin: 0 0 1.5rem 0;

  @media screen and (max-width: 765px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 576px) {
    font-size: 1.155rem;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;

  @media screen and (max-width: 1400px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1200px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 992px) {
    max-width: 800px;
  }

  @media screen and (max-width: 768px) {
    max-width: 700px;
  }

  @media screen and (max-width: 576px) {
    max-width: 500px;
  }
}

section {
  padding: 10rem 0;
}

.center {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


